body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #002b55, #88aee0);
    background-size: cover;
    backdrop-filter: blur(6px);
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

header {
    padding: 20px;
}

.radio-logo {
    width: 180px;
}

.player-box {
    margin: auto;
    padding: 10px;
    background: rgba(255,255,255,0.15);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.contact-section {
    margin-top: 30px;
}

.contact-form {
    display: grid;
    gap: 18px;
    margin: auto;
    width: 80%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.submit-btn {
    padding: 12px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.whatsapp-btn {
    display: inline-block;
    margin-top: 15px;
    background: #25D366;
    padding: 12px 22px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.2em;
}
