
body {
  margin:0;
  font-family: Arial;
  background:#111;
  color:#fff;
  text-align:center;
}
.container {
  padding:40px;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.5);
  margin:40px;
  border-radius:20px;
}
.logo-circle {
  width:200px;
  height:200px;
  border-radius:50%;
  overflow:hidden;
  margin:0 auto 20px;
  border:4px solid #fff;
}
.logo-circle img {
  width:100%;
  height:100%;
  object-fit:cover;
}
audio {
  width:80%;
  max-width:400px;
}
