body {
    margin: 0;
    font-family: Arial;
    background: radial-gradient(circle at top, #001f46, #000000);
    color: #fff;
}
.hero {
    padding: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: cyan;
    text-shadow: 0 0 10px cyan;
}
.radio-card {
    background: #0d1325;
    padding: 25px;
    border-radius: 22px;
    max-width: 420px;
    margin: auto;
    color: white;
    box-shadow: 0 10px 35px rgba(0,0,0,0.35);
    font-family: 'Roboto', sans-serif;
}

.radio-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-btn {
    width: 70px;
    height: 70px;
    background: white;
    color: #0d1325;
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.play-btn:hover {
    transform: scale(1.09);
}

.radio-card h3 {
    margin: 0;
    font-size: 22px;
}

.radio-card p {
    margin: 0;
    color: #9ca3af;
}

.slider-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#volumeSlider {
    width: 100%;
}

}
input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #0003;
    border: 1px solid #00eaff;
    color: #fff;
}
button, .whatsapp-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #00eaff;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
}
.whatsapp-btn {
    background: #25d366;
    color: #fff;
}
